<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
            background-color: #fff;
        }
        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }
        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }
        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }
        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }
        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }
        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }
        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }
        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }
        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }
        .invoice-box table tr.item.last td {
            border-bottom: none;
        }
        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }
        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }
            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }
        .thank-you {
            text-align: center;
            margin-top: 30px;
            font-size: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="https://res.cloudinary.com/dvwmkgnzz/image/upload/v1725966804/ShapePact_Logo_eltxdv.png" style="width: 100%; max-width: 150px" alt="Logo">
                            </td>
                            <td>
                                <strong>Invoice No.:</strong> <%= group.groupCode %><br>
                                <strong>Date:</strong> <%= new Date().toLocaleDateString() %><br>
                                <strong>Due Date:</strong> <%= new Date(group.nextSubscriptionDate).toLocaleDateString() %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                <strong>BILLED TO:</strong><br>
                                <%= user.username %><br>
                                <%= user.email %>
                            </td>
                            <td>
                                <strong>Company:</strong><br>
                                Sharepact<br>
                              Lagos, Nigeria
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>Item</td>
                <td>Quantity</td>
                <td>Unit Price</td>
                <td>Total</td>
            </tr>

            <tr class="item">
                <td>Subscription Cost</td>
                <td>1</td>
                <td><%= cost %></td>
                <td><%= cost %></td>
            </tr>
            <tr class="item">
                <td>Handling Fee</td>
                <td>1</td>
                <td><%= group.handlingFee %></td>
                <td><%= group.handlingFee %></td>
            </tr>
            <!-- Add additional items here if needed -->
            <tr class="total">
                <td colspan="3">Total</td>
                <td><%= amount %></td>
            </tr>
        </table>

        <div class="thank-you">
            Thank you!
        </div>

        <div class="payment-info">
            <p><strong>Payment Link:</strong> <a href="<%= payment_link %>"><%= payment_link %></a></p>
        </div>

        <!-- <div class="signature">
            <p><%= user.username %></p>
            <p><%= user.address %></p>
        </div> -->
    </div>
</body>
</html>
